
  <div class="navBack">
    <a class="navbarItem" href="./">Sala de juegos</a>
  </div>

  <!-- First Container -->
  <div id ="quiwn"class="container-fluid-presentacion bg-1 text-center">
    <img src="./assets/imagenes/matiasJPG.jpeg" class="img-responsive img-circle margin imgperfil" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Herrera Matias</h3>
    <hr>
    <h3>Estudiante de la Tecnicatura Universitaria en Programacion (UTN-FRA)</h3>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">EL JUEGO DEL AHORCADO</h3>
    <p>El juego del ahorcado es un clasico, cuyo objetivo es elegir las letras que uno cree que estan dentro de la palabra. Esta palabra en un principio se representa con un _ en cada uno
      de los caracteres que la componen, asi, cada vez que uno selecciona una letra que este dentro de la palabra, se reemplazaran los _ por la letra correspondiente.
      PERO, hay que tener cuidado cuando una letra elegida no esta contenida en la palabra, ya que eso suma un error y solo poseemos 6 intentos para poder descubrir la palabra.
    </p>
  </div>
  
  <!-- Third Container (Grid) -->
  <div id ="donde" class="container-fluid bg-3 text-center">    
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/web.jpg" class="img-responsive margin imagenDeQuienSoy imgWeb"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/code.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/sistemas.png" class="img-responsive margin imagenDeQuienSoy imgSis" alt="Image">
      </div>
    </div>
  </div>

  <a target="_blank" href="https://api.whatsapp.com/send?phone=5491161912991&text=Enviar%20Info."><img src="./assets/imagenes//WhatsApp.png" class="wp" style="position:fixed;z-index:99;  right: 20px; bottom: 15px;"></a>
  <a target="_blank" href="https://www.instagram.com/maatiasherrera/"><img src="./assets/imagenes/instagram.png" class="social" style="position:fixed;z-index:99;  right: 90px; bottom : 17px;"></a>
  <a target="_blank" href="https://www.linkedin.com/in/matias-herrera-018b9b195/"><img src="./assets/imagenes/linke.jpg" class="social" style="position:fixed;z-index:99; right: 155px; bottom : 17px; border-radius: 100%;"></a>
  