*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: ghostwhite;
    font-family: 'game';
    text-decoration: none;
}

a
{
    cursor: pointer;
}

.tabla
{
    position: absolute;
    top: 25%;
    left: 15%;
    transform: rotate(-50%,-50%);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
    width: 70%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    border: 1px solid;
}

th
{
    padding: 2%;
    border-bottom: 1px solid;
    border-radius: 15px;
}

td
{
    padding: 2%;
}


.buttons
{
    position: absolute; 
    left: 50%;
    top: 15%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-height: 10%;
    text-align: center;
}

input[type="button"]
{
    width: 20%;
    padding: 1em 1em;
    margin: 1em;
    background: rgb(170, 50, 50);
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    transition: 0.4s;
}

input[type="button"]:hover
{
    border-top: 2px solid rgb(170, 50, 50);
    border-bottom: 2px solid rgb(170, 50, 50);
    background: none;
}

.inicio
{
    width: 8%;
    height: 2em;
    margin: 1em;
    background: rgb(170, 50, 50);
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    transition: 0.4s;
}

.inicio:hover
{
    border-top: 2px solid rgb(170, 50, 50);
    border-bottom: 2px solid rgb(170, 50, 50);
    background: none;
}