<button class="inicio" value="Inicio" routerLink="/Principal">Inicio</button>
<div class="buttons">
  <input type="button" value="Todos los jugadores" (click)="TraerTodos()">
  <input type="button" value="Los ganadores" (click)="TraerGanadores()">
  <input type="button" value="Los Perdedores" (click)="TraerPerdedores()">
</div>

<table class="tabla">
    <thead>
      <tr>
        <th>usuario</th>
        <th *ngIf="!ganadores">gano</th>
        <th *ngIf="!perdedores">perdio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jugador of listadoGeneral" >
        <td>{{jugador.nombre}}</td>
        <td *ngIf="!ganadores">{{jugador.gano}}</td> 
        <td *ngIf="!perdedores">{{jugador.perdio}}</td> 
      </tr>
    </tbody>
  </table>