<app-cabecera></app-cabecera>

<div class="contenedorLista">
    <div class="juegos">
        <a href=""><img src="../../../assets/imagenes/games.png" alt=""></a>
    </div>
    <div class="listadoJuegos">
        <a href=""><img src="../../../assets/imagenes/listado.png" alt=""></a>
    </div>
    <div class="configuracion">
        <a href=""><img src="../../../assets/imagenes/configuration.png" alt=""></a>
    </div>
    <div class="jugadores">
        <a href=""><img src="../../../assets/imagenes/player.svg" alt=""></a>
    </div>
</div>