<div class="container" >
    <h2>SALA DE JUEGOS</h2>
    <div class="card">
      <img src="../../../assets/imagenes/velocidadaritmetica.jpg" alt="Avatar" style="width:100%">
      <h1>Agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
    
      <p><button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img src="../../../assets/imagenes/piedra-papel.png" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      

      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número</h1>
      <p class="title">Juego de estrategia</p>
      <p>UTN FRA </p>
       
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>

    <div class="card">
      <img src="../../../assets/imagenes/ahorcado2.png" alt="Avatar" style="width:100%">
      <h1>El juego del Ahorcado</h1>
      <p class="title">Intenta adivinar</p>
      <p>UTN FRA </p>
       
      <p>           <button class="button"  (click)="Juego('Ahorcado')">Jugar</button></p>
    </div>
</div>