<body>
      <div class="container">
        <div class="img"></div>
        <div class="formContainer">
            <p>REGISTRO</p>
            <div class="divUsuario">
              <input type="text" name="usuario" id="usuario" placeholder="Ingrese Usuario" required>
            </div>
            <div class="divClave">
              <input type="password" name="clave" id="clave" placeholder="Ingrese Clave" required>
            </div>
            <div class="divClaveRepetida">
              <input type="password" name="clave" id="clave" placeholder="Repita la clave" required>
            </div>
            <div class="buttons">
              <input type="button" value="Registrarse" class="registrar">
              <input type="button" value="Cancelar" class="cancelar" routerLink="/Principal">
            </div>
        </div>
      </div>
  
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
  
  </body>