<div class="container">
    <div class="img"></div>
    <div class="formContainer">
        <p>LOGIN</p>
        <div class="divUsuario">
          <input type="text" name="usuario" id="usuario" placeholder="Ingrese Usuario" required>
        </div>
        <div class="divClave">
          <input type="password" name="clave" id="clave" placeholder="Ingrese Clave" required>
        </div>
        <div class="buttons">
          <input type="button" value="Ingresar" class="ingresar">
          <input type="button" value="Registrarse" class="registrar">
          <input type="button" value="Cancelar" class="cancelar">
        </div>
    </div>
</div>