/* You can add global styles to this file, and also import other style files */
body
{
    background: url("./assets/imagenes/fondo2.jpg")no-repeat center center fixed;
    background-position: cover;
    background-size: cover;
}

@font-face {
    font-family: 'game';
    src: url('./assets/imagenes/edunline.ttf');
}
  