.panel
{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 30vh;
    max-height: 30vh;
    left: 10%;
    margin-top: 10%;
    padding-top: 5%;
}

p
{   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80vw;
    height: 10vh;
    color: ghostwhite;
    font-family: 'game';
    font-size: 6vw;
}

nav 
{
    position: fixed;
    top: 0%;
    text-align: left;
    color: ghostwhite;
    width: 100%;
    max-height: 6%;
    min-height: 6%;
    background: rgb(97, 97, 97);
    z-index: 1;
}
  
  
  nav ul li {
   display: inline-block;
   padding: 0 2em;
   line-height: 3.5em;
   transition: 0.4s;
  }
  
  ul
  {
    padding: 0%;
  }


  nav ul li:hover {
    background-color: black;
    color: ghostwhite;
  }

li a
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    text-decoration: none;
    font-size: 1em;
    color: inherit;
}


.github
{
    position: absolute;
    left: 96%;
    top: 10%
}   

i
{
    font-size: 30px;
}